.line {
  border-left: 3px solid grey;
  min-height: 710px;
  position: absolute;
  left: 21%;
  margin-left: -3px;
  top: 0;
}

.required{
  color: red;
}

.desc{
  color:grey;
}

// .scroll { overflow: hidden;}
